*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_box{
    background: url("https://imgs.search.brave.com/i6INFaTj1xAqif9CqqCR55SJfEjLKSboxOpKQuWsNgQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly8xMjFj/bGlja3MuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI1LzAx/L2xhbmRzY2FwZS1w/aG90b2dyYXBoeS1t/aWNoYWVsLWhpbmRt/YW4tMDQuanBn");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
  list-style: none;
}


.main_box .btn{
    color: rgb(3, 0, 7);
    position: absolute;
    top: 45px;
    left: 10px;
    font-size: 30px;
    z-index: 2;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -350px;
    background-color: rgba(255, 255, 255, 0.85); 
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    padding: 30px;
    line-height: 60px;
    transition: all 0.2s linear;
}

.sidebar .btn2{
    color: rgb(41, 38, 34);
    position: absolute;
    top: 35px;
    left: 250px;
}


.sidebar a{
    color: rgb(20, 9, 9);
    text-decoration: none;
    margin-left: 20px;
}

/* Menu items */
.sidebar .menu li{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 15px;
    width: 100%;
    transition: all 0.3s ease;
}

.sidebar .menu i{
    font-size: 18px;
}

.sidebar .menu li:hover{
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    border-radius: 6px;
    
}

#check{
    display: none;
}
#check:checked ~ .sidebar{
    left: 0;
    transition: all 0.2s linear;
}
