
*{
  font-family:sans-serif;
}
.main_box{
    background: url("https://imgs.search.brave.com/i6INFaTj1xAqif9CqqCR55SJfEjLKSboxOpKQuWsNgQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly8xMjFj/bGlja3MuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI1LzAx/L2xhbmRzY2FwZS1w/aG90b2dyYXBoeS1t/aWNoYWVsLWhpbmRt/YW4tMDQuanBn");
    height: 100vh;
    background-size: cover;
}
ul {
  list-style: none;
}
.main_box .btn{
    color: rgb(3, 0, 7);
    position: absolute;
    top: 50px;
    font-size: 30px;
    z-index: 2;
}
.sidebar .btn2{
    color: rgb(41, 38, 34);
    position: absolute;
    top: 50px;
    left: 270px;
    line-height: 10px;
}
.sidebar a{
    color: rgb(20, 9, 9);
    position: relative;
    left: 20px;;
}
.sidebar{
    position: fixed;
    /* left: -350px; */
    height: 100vh;
    width: 250px;
    background-color: white;
    opacity: 0.6;
    box-shadow: 0 0 6px black;
    
}
.sidebar{
    line-height: 60px;
    padding: 30px;
}
.sidebar .menu i{
    position: relative;
    right: 2px ;
    
}
.sidebar .menu i,a{
    text-decoration: none;
}
#check{
    display: none;
}
.sidebar .menu li{
    position: relative;
    right: 60px;
    width: 300px;;
}
.sidebar .menu li:hover{
    box-shadow: 0 0 6px black;
}