.item{
    height: 330px;
    width: 220px;
    margin:10px 10px;
    border:  black;
    display: inline-block;
    border-radius:10px 10px 0 0;
    box-shadow: 2px 2px 10px black;
    transition: 1s 0.2s;
}
.item:hover{
    box-shadow: 2px 2px 50px gold;
}
.desc{
    padding: 5px 30px;
}
.img{
    width: 100%;
}