body{
    font-family: Amarante;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    height: 100vh;
    width: 300px;
    background-color: #000;
}
.main_box{
    flex: 1;
    background-color: antiquewhite;
}
.player{
    position: fixed;
    bottom: 0;
    height:72px;
    width: 100%;
    background-color: blue;
}
.nav{
    height: 100px;
    width: 282px;
    border-radius: 10px;
    background-color: rgba(186, 183, 183, 0.53);
    margin:10px 8px;
}
.nav-opt{
    position: relative;
    margin: 15px;
    top: 10px;
    left: 20px;
    opacity: 0.7;
}
.nav-opt i{
    position: relative;
    right: 10px;
}
.nav-opt a{
    text-decoration: none;
    color: #fff;
}
.nav-opt:hover{
    opacity: 1;
}
.lib{
    height: 100vh;
    width: 282px;
    border-radius: 10px;
    background-color: rgba(47, 45, 45, 0.332);
    margin:10px 8px;
}
.lib .head{
    opacity: 0.7;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 10px;

}
.lib .head .head-2{
    position: relative;
    top: 0px;
    left: 110px;
    justify-content: space-around;
    
}
.lib .head .head-1{
    position: relative;
    left: 40px;
    
}
.lib .head .head-1 i{
    position: relative;
    right: 10px;
}
