body{
    font-family: Amarante;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    height: 100vh;
    width: 300px;
    background-color: #000;
}
.main_box{
    flex: 1;
    background-color: antiquewhite;
}
.player{
    position: fixed;
    bottom: 0;
    height:72px;
    width: 100%;
    background-color: blue;
}
.nav{
    height: 100px;
    width: 282px;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
    margin:10px 8px;
}
.nav-opt{
    position: relative;
    margin: 15px;
    top: 10px;
    left: 20px;
    opacity: 0.7;
}
.nav-opt i{
    position: relative;
    right: 10px;
}
.nav-opt a{
    text-decoration: none;
    color: #fff;
}
.nav-opt:hover{
    opacity: 1;
}
.lib{
    height: 100vh;
    width: 282px;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
    margin:10px 8px;
    margin-right: 20px;
    
}
.lib .head{
    opacity: 0.7;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 10px;

}
.lib .head .head-2{
    position: relative;
    top: 0px;
    left: 110px;
    justify-content: space-around;
    
}
.lib .head .head-1{
    position: relative;
    left: 40px;
    
}
.lib .head .head-1 i{
    position: relative;
    right: 10px;
}
.suggestions .card .body-1{
    position: relative;
    top: 10px;
    background-color: #a29e9e2b;
    border-radius: 10px;
    color: #000;
    width: 280px;
}
.suggestions .card .body-1 .title{
    position: relative;
    left: 15px;
    top: 10px;
}
.suggestions .card .body-1 .text{
    position: relative;
    left: 15px;
}
.suggestions .card .body-1 a{
    position: relative;
    left: 25px;
    bottom: 5px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    background-color: rgb(134, 143, 151);
    width: 100px;
    height: 10px;
    line-height: 30px;
}
