body{
    font-family: Amarante;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    height: 100vh;
    width: 300px;
    background-color: rgb(78, 87, 94);
}
.main_box{
    flex: 1;
    background-color: antiquewhite;
}
.player{
    position: fixed;
    bottom: 0;
    height:72px;
    width: 100%;
    background-color: blue;
}
